/* Add styles for the SVG background and the elements */
svg {
    background-color: black; /* Set the background color of the SVG */
  }
  
  /* Make the entire browser window black */
  body {
    margin: 0; /* Remove default margin */
    background-color: black; /* Set the background color of the body */
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
  }
  
  .triangle, .triangle2 {
    fill: none; /* Clear fill for triangles */
  }
  
  .segment {
    fill: none; /* Clear fill for segments */
    stroke: white; /* White stroke for segments */
  }
  
  /* Hover effect */
  .clickable-space:hover .image {
    opacity: 1; /* Make the image visible on hover */
  }

  nav {
    display: flex;
    justify-content: center;
  }

  /* Styling the navigation links */
  nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }

  /* Styling the active link */
  nav a.active {
    font-weight: bold;
    color: blue;
  }

  